<html>
    <title>Restaurant page</title>
    <body>
    <h1>Hello there, (<%= userName %>)</h1>
    
        <% if ( Restaurant.length > 0) { %>
            <ul>
            <% for (var r of Restaurant) { %>

            <li>Restaurant ID: <%= r.id %>   <a href="/details?_id=<%= r._id %>" >details</a>

                <% if ( r.owner == userName) { %>
                    <a href="/edit?_id=<%= r._id %>" >edit</a>
                    <a href="/delete?_id=<%= r._id %>" >delete</a>
                <% } %>

                <a href="/rate?_id=<%= r._id %>&id=<%= r.id %>" >rate</a>
            
            </li>

            <% } %>
        </ul>
            
            <% } else { %>
            No documents available for reading yet!<br><br>

            You can create a new Restaurant now!<br><br>
            <% } %>
        <a href="/create?username=<%=userName%>"> <button>Create</button></a>
        <br><br><br><br><br><br><br><br><br><br>
        <a href="/logout"> <button>Logout</button></a>
    </body>
</html>