<html>
    <body>
        <H1><head>Restaurant information: <%= datadoc.id %></head></H1>
    <br><br>
    Borough: <%= datadoc.borough %> 
    <br><br>
    Curisine: <%= datadoc.curusine %>
    <br><br>
    Street: <%= datadoc.address.street %>
    <br><br>
    Building: <%= datadoc.address.building %>
    <br><br>
    Zipcode: <%= datadoc.address.zipcode %>
    <br><br>
    GPS: <%= datadoc.address.coord %>
    <br><br>
    <h3> Owned by: <%= datadoc.owner %> </h3>
    <br>
    Photo:
    <img src="data:image/jpg;base64, <%= datadoc.photo.image %>"><br>
     <% if ( datadoc.grades.length > 0) { %>
            <ul>
            <% for (var r of datadoc.grades) { %>

            <li>Rating: <%= r.user %>  | <%= r.score % >

        </li>

            <% } %>
        </ul>

            <% } else { %>
            <h1>No Rating yet</h1><br>
            <% } %>

        <a href="/index"> <button>Return</button></a>
    </body>
</html>